<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Alert Details</th>
      <th>#{{alertDetails.AlertId}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Alert Id</td>
      <td>{{alertDetails.AlertId}}</td>
    </tr>
    <tr>
      <td>Alert Time</td>
      <td>{{alertDetails.AlertTime}}</td>
    </tr>
    <tr>
      <td>Severity</td>
      <td>{{alertDetails.Severity}}</td>
    </tr>
    <tr>
      <td>Protocol</td>
      <td>{{alertDetails.Protocol}}</td>
    </tr>
    <tr>
      <td>ClientIP</td>
      <td>{{alertDetails.ClientIP}}</td>
    </tr>
    <tr>
      <td>ServerIP</td>
      <td>{{alertDetails.ServerIP}}</td>
    </tr>
    <tr>
      <td>ClientCountry</td>
      <td>{{alertDetails.ClientCountry}}</td>
    </tr>
    </tbody>
  </table>
</div>
